# Environment
DJANGO_SETTINGS_MODULE=config.settings.dev
DEBUG=True

# Secret Key
SECRET_KEY='django-insecure-#5sz4(#!4vo$%mpvj=uhz1_f@(cp7+2inv=*q2gtz$81m%ih3%'

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=event_planet_db
DB_USER=event_planet_user
DB_PASSWORD=1234
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# JWT
JWT_ACCESS_TOKEN_LIFETIME=60
JWT_REFRESH_TOKEN_LIFETIME=1440

# OTP
OTP_EXPIRY_TIME=300

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000

# Allowed Hosts
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0